<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/stylesheet.css" />
</head>
<body class="container">

    <div class="js-menu-container is-open">
        <div class="mobile-navigation">
            <svg class="js-close-menu mobile-nav-close-icon">
                <use href=".//images/icons.svg#icon-close-btn"/>
            </svg>
            <nav class="main-navigation">
                <a href="#">Home</a>
                <a href="#">How it's made?</a>
                <a href="#">Our products</a>
                <a href="#">Top sellers</a>
                <a href="#">Chocolate is loved</a>
            </nav>
          
            <div class="header-social-icons">
                <svg>
                    <use href="./images/icons.svg#icon-instagram"/>
                </svg>
                <svg>
                    <use href="./images/icons.svg#icon-twitter" />
                </svg>
            </div>
        </div>


            
    </div>

    <header class="global-header section">
        <!-- <div class="mobile-header"> -->
            <div class="header-logo">
                <svg class="logo">
                    <use href="./images/icons.svg#icon-simply-chocolate" />
                </svg>
                <svg class="chocolate-logo-icon">
                    <use href="./images/icons.svg#icon-chocolate" />
                </svg>
            </div>
            <div class="js-open-menu">
                <svg class="mobile-opener-icon">
                    <use href="./images/icons.svg#icon-menu-hamburger" />
                </svg>
            </div>

      


        <div class="desktop-header">
            <nav class="main-navigation">
                <a href="#">Home</a>
                <a href="#">How it's made?</a>
                <a href="#">Our products</a>
                <a href="#">Top sellers</a>
                <a href="#">Chocolate is loved</a>
            </nav>

            <div class="header-social-icons">
                <svg>
                    <use href="./images/icons.svg#icon-instagram"/>
                </svg>
                <svg>
                    <use href="./images/icons.svg#icon-twitter" />
                </svg>
            </div>
        </div>

    </header>
    <main class="main-section section">
        <div class="product-advertisement">
            <span>Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</span>
            <div class="main-div-buttons">
                <div class="principal-buttons">
                    <button type="button">Buy now</button>
                    <button type="button"> How it's made</button>
                </div>
                
                <div class="scroll-down">
                    <a href="#">scroll down</a>
                    <svg>
                        <use href="./images/icons.svg#icon-scroll-down" />
                    </svg>
                </div>
            </div>
            
        </div>

    </main>
    
    <section class="section about-section">
        <div class="about-chocolate">
             <div class="scale-divider">
                    <div class="about-section-svg-container">
                        <svg>
                            <use href="./images/icons.svg#icon-chocolate-2" />
                        </svg>
                    </div>
                    <h3>Unsurpassed taste</h3>
                    <p>Crafted with the finest quality cocoa beans and a dedication to
                        perfection, each bite is a decadent experience 
                        that simply cannot be matched. Savor the richness and complexity 
                        of our Unsurpassed Taste and discover a new level of chocolate bliss.
                    </p>
                </div>
            <div class="vertical-dash"></div>
        </div>

        <div class="about-price">
            <div class="scale-divider">
                <div class="about-section-svg-container">
                    <svg>
                        <use href="./images/icons.svg#icon-dollar-sign" />
                    </svg>
                </div>
                <h3>Affordable price</h3>
                <p>Indulge in high-quality chocolate without breaking the bank with Simply 
                    Chocolate's selection of affordable treats. Enjoy mouth-watering truffles
                     and velvety chocolate bars without sacrificing taste or quality. Browse
                    our selection and indulge in affordable luxury today.
                </p>
            </div>
            <div class="vertical-dash"></div>
        </div>

        <div class="about-us">
            <div class="scale-divider">
                <div class="about-section-svg-container">
                    <svg>
                        <use href="./images/icons.svg#icon-spoon" />
                    </svg>
                </div>
                <h3>Own production</h3>
                <p>We take pride in our own production process, ensuring that every step is
                    carefully crafted to perfection. From selecting the finest ingredients to
                    handcrafting each piece, our attention to detail is evident in every bite.
                </p>
             </div>
        </div>
        
        

    </section>

    <script src="./js/mobile-menu.js"></script>

</body>
</html>